body { font-family: 'Lato', sans-serif; }

.struct-layout {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.struct-layout > main.struct {
  flex: 1;
}


header.struct {
  padding: 0;
  margin: 0;
}

header.struct > .title-line {
  background-color: #2980B9;
  width: 100%;
  padding: 12px;
  display: flex;
  justify-content: space-between;
}

header.struct > .title-line > h1 {
  color: #FFFFFF;
  font-weight: 900;
  margin: 0; padding: 0;
}

header.struct > .title-line > h1::first-letter {
  font-style: italic;
}

header.struct > .title-line > nav {
  display: flex;
}

header.struct > .title-line > nav > ul {
  padding: 0;
  margin: auto;
}

header.struct > .title-line > nav > ul > li {
  display: inline;
  margin: 8px;
}



header.struct > .title-line > nav > ul > li > a { color: white; }
header.struct > .title-line > nav > ul > li > a:hover { color: white; }
header.struct > .title-line > nav > ul > li > a:focus { color: white; }

header.struct > .title-line > nav > ul > li > a > div {
  opacity: 0;
  position: absolute;
  background-color: #2C3E50;
  color: #ECF0F1;
  padding: 12px;
  border-radius: 4px;
  transition: all 0.18s ease;
  margin-top: 12px;
  transform-origin: top;
  transform:scaleY(0);
}

header.struct > .title-line > nav > ul > li > a:focus > div,
header.struct > .title-line > nav > ul > li > a > div:hover
{
  opacity: 1.0;
  transform:scaleY(1.0);
}

a.inline-login > div input,
header.struct > .title-line > nav > ul > li > a > div input {
  border: 0;
  margin: 12px 4px;
  padding: 4px;
  color: #216694;
  display: block;
  border-radius: 2px;
}

a.inline-login > div input[type="submit"],
header.struct > .title-line > nav > ul > li > a > div input[type="submit"] {
  background-color: #2980B9;
  margin-top: 12px;
  color: #ECF0F1;
}

header.struct > nav {
  font-weight: 300;
  background-color: #216694;
  padding : 12px;
  color: #ECF0F1;
}

header.struct > nav > ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

header.struct > nav > ul > li {
  display: inline;
  padding: 0;
}

header.struct > nav > ul > li > a {
  text-decoration: none;
  color: #89C2FA;
  padding: 2px 12px;
  border-radius: 4px;
  margin-right: 4px;
  font-weight: 400;
  transition: all 0.2s ease;
}

header.struct > nav > ul > li > a:hover {
  color: #FFFFFF;
}

footer.struct {
  background-color: #2C3E50;
  padding: 12px;
  color: #76A6D6;
}

footer.struct > div {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

footer.struct > div > ul  {
  padding: 20px;
  margin: 0;
  list-style-type: none;
}

footer.struct > div > ul > li {
  margin: 8px;
}

footer.struct > div > ul > li.enum-title {
  font-weight: 900;
  padding-bottom: 12px;
  font-size: 120%;
  color: #89C2FA;
}

footer.struct > div > ul > li > a {
  color: #76A6D6;
  text-decoration: none;
  transition: all 0.2s ease;
}


footer.struct > div > ul > li > a:hover {
  color: #E74C3C;
}

footer.struct >  p {
  padding-left: 32px;
  padding-top: 20px;
  padding-bottom: 20px;
}


main.struct {

}

main.struct > div {
  margin: auto;
  width: 100%;
  padding: 32px 24px;
  display: flex;
}

main.struct > div > div {
  padding: 12px;
}

main.struct > div > div > h2 {
  color: #216694;
}

main.struct > div > .left {
  flex: 4;
}

main.struct > div > .right {
  flex: 2;
}

.refutable {
  display: none;
}

.refutable * {
  display: none;
}

.btn {
  background-color: #c0c0c0;
  color: #333333;
  border-radius: 2px;
  padding: 4px 16px;
  text-decoration: none;
  transition: all 0.18s ease;
}

.standard {
  text-decoration: none;
  transition: all 0.18s ease;
  color: #ECF0F1;
}

.standard:hover {
  color: #FFFFFF;
}


.confirmation {
  background-color: #A7C520;
  color: #F5F6D4;
}

.confirmation:hover {
  background-color: #BADB12;
  color: #FFFFFF;
}


@media screen and (max-width: 600px) {

  .refutable {
    display: initial;
  }

  .refutable * {
    display: initial;
  }

  footer.struct > div {
    display: block;
  }

  header.struct > nav {
    font-weight: 300;
    background-color: #216694;
    padding : 12px 4px;
    color: #ECF0F1;
  }

  header.struct > nav > ul > li {
    display: block;
  }

  header.struct > .title-line > nav {
    display: none;
  }

  a.inline-login > div {
    opacity: 0;
    position: absolute;
    background-color: #2C3E50;
    color: #ECF0F1;
    padding: 12px;
    border-radius: 4px;
    transition: all 0.18s ease;
    margin-top: -78px;
    margin-left: 32px;
    transform-origin: left;
    transform:scaleX(0);
  }

  a.inline-login:focus > div,
  a.inline-login > div:hover
  {
    opacity: 1.0;
    transform:scaleX(1.0);
  }

  main.struct > div {
    flex-direction: column;
  }
  main.struct > div > div {
    flex: 1;
    width: 100%;
  }



  main.struct > div > .left {
    order: 1;
}
